.cardPost {
  box-shadow: 0 0 .325rem .125rem rgba(0, 0, 0, .3);
  border-radius: .25rem;
  margin-bottom: 1.25rem;
  padding: .5rem;
}

.cardPost_content {
  display: flex;
  justify-content: space-between;
}

.cardPost_content_wrap {
  display: inline-block;
  height: 3.25rem;
  transition: width .15s ease-in-out, height .15s ease-in-out;
  width: 3.25rem;
}

.cardPost_content_wrap_img {
  max-width: 100%;
  object-fit: cover;
}

.cardPost_content_info {
  transition: width .15s ease-in-out;
  width: calc(100% - 4rem);
}

.cardPost_content_info_link {
  color: #000;
  display: inline-block;
  transition: color .15s ease-in-out;
  text-decoration: none;
}

.cardPost_content_info_link:hover {
  color: rgba(0, 0, 0, .5);
}

.cardPost_content_info_link:focus,
.cardPost_content_info_link:visited {
  color: #000;
  text-decoration: none;
}

.cardPost_content_info_title,
.cardPost_content_info_text {
  text-transform: capitalize;
}

.cardPost_content_info_title {
  border-bottom: .063rem solid rgba(0, 0, 0, .4);
  display: inline-block;
  font-size: .875rem;
  font-weight: 500;
  margin-bottom: .5rem;
  padding-bottom: .125rem;
}

.cardPost_content_info_text {
  font-size: .75rem;
  font-weight: 400;
}

.cardPost_footer {
  font-size: .75rem;
  display: flex;
  justify-content: space-between;
  margin-top: .125rem;
  width: 100%;
}

.cardPost_footer_wrap {
  align-items: center;
  display: inline-flex;
  min-width: 8.5rem;
}

.cardPost_footer_btn,
.cardPost_footer_btn--delete {
  border: none;
  border-radius: .125rem;
  cursor: pointer;
  margin-left: .5rem;
  text-decoration: none;
}

.cardPost_footer_btn:visited {
  color: blue;
}

.cardPost_footer_btn--delete {
  background-color: #ff0000;
  color: rgba(250, 250, 250, .8);
  padding: 0 .4rem;
}

.cardPost_footer_categorie {
  background-color: rgba(200, 200, 200, 1);
  border-radius: .75rem;
  font-weight: 500;
  padding: 0 .5rem;
}

@media(min-width: 30rem) {
  .cardPost {
    padding: .75rem;
  }

  .cardPost_content_wrap {
    display: inline-block;
    height: 6.25rem;
    width: 6.25rem;
  }

  .cardPost_content_info {
    width: calc(100% - 8rem);
  }

  .cardPost_content_info_title {
    font-size: 1rem;
  }
}
