.form {
  border: .063rem solid rgba(104, 104, 104, .6);
  border-radius: .25rem;
  outline: none;
  margin-bottom: .75rem;
  padding: .125rem .25rem;
  transition: border-color .15s ease-in-out;
  resize: none;
  width: 100%;
}

.form:focus {
  border-color: dodgerblue;
  outline: none;
}
