.postPage {
  box-shadow: 0 0 .325rem .125rem rgba(0, 0, 0, .3);
  border-radius: .25rem;
  margin-bottom: 1.25rem;
  padding: .75rem;
}

.postPage_title,
.postPage_subTitle,
.postPage_text {
  text-transform: capitalize;
}

.postPage_title,
.postPage_subTitle {
  font-weight: 500;
  margin-bottom: .5rem;
  padding-bottom: .125rem;
}

.postPage_title {
  border-bottom: .063rem solid rgba(0, 0, 0, .4);
  display: inline-block;
  font-size: 1rem;
}

.postPage_subTitle {
  font-size: .75rem;
  width: 100%;
}

.postPage_subHeader {
  align-items: center;
  display: flex;
}

.postPage_subHeader_tag {
  background-color: rgba(200, 200, 200, 1);
  border-radius: .75rem;
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  margin-bottom: .75rem;
  padding: 0 .5rem;
}

.postPage_text {
  background-color: rgba(200, 200, 200, .2);
  border-radius: .25rem;
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: .875rem;
  padding: .5rem .75rem;
}
