.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 30rem;
  margin: 0;
  min-height: 3.75rem;
  padding: 0;
}

.menu_item {}

.menu_link {
  color: #fff;
  display: inline-block;
  font-size: .875rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 0;
  transition: opacity .15s ease-in-out, font-size .15s ease-in-out;
  text-transform: capitalize;
}

@media(min-width: 30rem) {
  .menu_link {
    font-size: 1.125rem;
  }
}

.menu_link:active,
.menu_link:focus,
.menu_link:hover,
.menu_link:visited {
  color: #fff;
  text-decoration: none;
}

.menu_link:hover {
  opacity: .75;
}
