.formPost {}

.formPost_gridA {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formPost_gridA_box,
.boxForm {
  display: inline-block;
  width: 100%;
}

.formPost_footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: .75rem;
}

.formPost_btn {
  background-color: dodgerblue;
  color: rgba(0, 0, 0, .8);
  border: none;
  border-radius: .125rem;
  cursor: pointer;
  font-weight: 500;
  min-height: 1.875rem;
  padding: .125rem .5rem;
  transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
}

.formPost_btn:disabled {
  background-color: rgba(204, 204, 204, 8);
  cursor: not-allowed;
}

.formPost_btn:hover,
.formPost_btn:focus {
  opacity: .8;
}

.boxForm {}

@media(min-width: 30rem) {
  .formPost_gridA_box {
    width: calc((100% / 2) - 1rem);
  }
}
