html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

.app {
  box-shadow: 0 0 .75rem .5rem #ccc;
  max-width: 48rem;
  margin: 5rem auto 0;
  min-height: calc(100vh - 6rem);
}
