.header {
  background-color: #3498db;
  background: -webkit-linear-gradient(300deg, #0d47a1, #3498db);
  background: linear-gradient(300deg, #0d47a1, #3498db);
  height: 3.75rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.header_container {
  height: 3.75rem;
  margin: 0 auto;
  max-width: 48rem;
  padding: 0 1.25rem;
}
