.commentForm {}

.commentForm_wrap {}

.commentForm_grid {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.commentForm_grid_wrap {
  width: calc(100% - 2.75rem);
}

.commentForm_label {
  display: inline-block;
  font-size: .875rem;
  font-weight: 500;
  padding-bottom: .75rem;
}

.commentForm_input {}

.commentForm_textArea {
  margin-bottom: .25rem;
}

.commentForm_footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: .75rem;
}

.commentForm_btn {
  background-color: dodgerblue;
  color: rgba(0, 0, 0, .8);
  border: none;
  border-radius: .125rem;
  cursor: pointer;
  font-weight: 500;
  padding: .125rem .5rem;
  transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
}

.commentForm_btn:disabled {
  background-color: rgba(204, 204, 204, 8);
  cursor: not-allowed;
}

.commentForm_btn:hover,
.commentForm_btn:focus {
  opacity: .8;
}